@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body{
  margin-top:15vh;
  
}

@media only screen and (max-width: 500px) {
  body{
    margin-top: 8vh;
  }
}
@media only screen and (max-width: 900px) {
  body{
    margin-top: 10vh;
  }
}
.admin_main{
  display: grid;
  grid-template-columns: 200px 1fr;
}
.main{
  display: none;
  width: 100%;
}
.buttonMed{
  z-index: 30;
  position: fixed;
  top: 24vh;
  font-weight: 600;
  
}




