@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

.global_box {
  font-family: "Montserrat", sans-serif;
  display: flex;
  background-color: #9bccbb;
  width: 50%;
  margin: auto;
  height: 50vh;
  position: relative;
  margin-top: 6%;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.form_box {
  display: flex;
  flex-direction: column;
}

.text_area {
  resize: none;
}
.container {
  width: 200px;
  background-color: #9bccbb;
}
.title {
  font-size: 1.3em;
  font-weight: 600;
  align-self: center;
  margin: 8px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
