.citas {
  font-size: 3em;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #91c4cd;
  height: 170px;
  width: 230px;
  margin-top: 20px;
  border-radius: 10px;
  margin-left: 10%;
  box-shadow: 7px 9px 9px -1px rgba(0, 0, 0, 0.75);
  transition: 0.3s ease;
}
.button {
  font-size: 12px;
  background-color: white;
  font-weight: 700;
  font-family: sans-serif;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 3px 3px 9px -1px rgba(0, 0, 0, 0.75);
  transition: 0.2s;
}
.button:hover {
  background-color: #c7ebf8;
}
.citas:hover {
  transform: scale(1.1);
}
.citas_con {
  font-size: 3em;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 230px;
  margin-top: 20px;
  border-radius: 10px;
  margin-left: 10%;
  box-shadow: 0px 3px 13px 5px rgba(0, 0, 0, 0.75);
  transition: 0.3s ease;
}
.citas_con:hover {
  transform: scale(1.1);
}
.resumen {
  box-shadow: 0px 3px 13px 5px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
  width: 210%;
  gap: 50px;
  justify-content: center;
  margin-top: 35px;
  border-radius: 10px;
  padding: 10px;
}
.resumen dd {
  width: 200px;
  height: 150px;
  margin: 0;
  box-shadow: none;
}
.resumen h2 {
  font-size: 16px;
  font-weight: 600;
}

.container {
  font-family: "Montserrat", sans-serif;

  font-size: 1.6em;
  width: fit-content;
  margin: 40px auto;
}
