.box_selector{
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 130px;
    
    margin-top: 30px;
    background-color: white;
    transition: 0.3s ease;
    border-radius: 4px;
    
}

.mini_menu{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    transition: 0.5s ease;
    font-weight: 500;
}
.mini_menu li:hover{
    background-color: #C7EBF8;
    border-radius: 4px;
}
.mini_menu li{
    padding: 5px;
    padding-left: 10px;
    
}
.button_of{
    transition: 0.3s;
    border-radius: 4px;
    padding: 5px;
    font-weight: 500;
}
.button_on{
    background-color: #91c4cd;
    transition: 0.1s;
    border-radius: 3px;
    padding: 5px;
    font-weight: 500;
}

.container{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    align-items: center;
    background-color: rgb(30 41 59);
}
.title{
    padding-top: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
}