.container {
  width: 80%;
  
  border: 1px solid black;
  margin-left: 10%;
  display: grid;
  grid-column: 15% 25% 60%;
  grid-column-gap: 5px;
  padding: 0px 15px;
  border-radius: 10px;
  background-color: #c7ebf8;
}

.title{
  display: flex;
  justify-content: center;
  font-size: 2em;
  margin: 20px;
}
