.container {
  position: absolute;
  top: 13vh;
}
.btn_return_citas {
  position: absolute;
  bottom: 5%;
  right: 20%;
}
.btn_return_home {
  position: absolute;
  bottom: 5%;
  right: 10%;
}
.btn_return:active {
  background-color: transparent;
  color: black;
}
