@media (min-width: 900px) {
  .barras {
    display: none;
  }
  .nav_link_mobile {
    display: none;
  }
}
.links {
  display: flex;
  background-color: rgba(251, 229, 176, 0);
  text-shadow: 1px 1px 2px rgba(177, 156, 108, 0.516);
}
.nav_button_link {
  font-size: 22pt;
  font-weight: 900;
  margin-top: 10px;
  color: white;
  padding: 4px 15px;

  background-color: rgba(203, 203, 203, 0.336);
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  border: none;
  transition: 0.2s ease;
  border: 2px solid white;
}
.nav_button_link:hover {
  background-color: rgb(41, 187, 255);
  color: black;
}
.nav_link_off {
  display: none;
}
.nav_link {
  display: flex;
  align-self: center;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  background-color: none;
  font-size: 0.9em;
  text-shadow: 9px;
  border-radius: 6px;
  margin-left: -5%;
  margin-top: 80px;
}
.nav_link span {
  padding: 20px;
}
.nav_link span:hover {
  background-color: #f2d083;
  color: #e2e2e2;
  border-radius: 10px;
}
.links:first-child {
  border-radius: 10px 0 0 10px;
}
.links:last-child {
  border-radius: 0 10px 10px 0;
}

.navbar_scroll {
  top: 0;
  display: flex;
  align-items: center;
  height: 22vh;
  background-image: url("./img/fondo.jpeg");
  z-index: 25;
  background-size: cover;
  background-position: center;

  transition: 0.4s ease;
  background-color: rgb(60, 60, 60);
  background-blend-mode: soft-light;
  position: fixed;
  width: 100%;
}
.title {
  display: flex;
  transition: 0.3s ease;
  color: antiquewhite;
  width: 35%;
  text-align: center;
  font-family: Times New Roman;
  font-size: 30pt;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.body {
  margin: 0;
}
.icono {
  margin: 10px;
  width: 70px;
  height: 70px;
}
.nav_button {
  color: white;
  padding: 4px 15px;
  position: absolute;
  right: 2%;
  bottom: 5px;
  background-color: rgba(129, 129, 129, 0.5);
  border-radius: 8px;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
  margin: 10px;
  border: none;
  transition: 0.2s ease;
  border: 2px solid white;
  width: 165px;
  height: 50px;
}
.nav_button:hover {
  background-color: #f2d083;
  color: rgb(255, 254, 254);
  transform: scale(0.95);
}

@media only screen and (max-width: 900px) {
  .barras {
    z-index: 10;
    color: white;
    border: 1px solid white;
    padding: 8px;
    position: absolute;
    right: 10px;
  }
  .nav_button {
    display: none;
  }
  .nav_link {
    display: none;
  }
  .nav_link_mobile {
    flex-direction: column;
    position: absolute;
    right: 0;

    top: -10px;
    width: 200px;
    display: flex;

    color: aliceblue;
    font-family: "Montserrat", sans-serif;
    background-color: rgba(30, 30, 30, 0.8);
    font-size: 1em;
    text-align: start;
    justify-content: center;
    height: 260px;
    padding-right: 60px;
    padding-left: 20px;
    padding-top: 120px;
    padding-bottom: 50px;
  }
  .nav_link_mobile span {
    
    padding: 5px;
    width: 110%;
  }
  .nav_link_mobile span:hover {
    background-color: white;
    color: black;
  }

  .title {
    font-size: 1.4em;
    width: 60%;
  }

  .icono {
    width: 40px;
    height: 40px;
  }
  .navbar_scroll {
    height: 10vh;
  }
  .nav_button_link{
    font-size: 13px;
    width: 110%;
  }
}
@media only screen and (max-width: 500px) {
  .nav_button_link{
    font-size: 12px;
  }
  .title {
    font-size: 1em;

    width: 70%;
    margin-left: 5px;
  }
  .nav_button {
    display: none;
  }
  .nav_link {
    display: none;
  }
  .nav_link_mobile {
    flex-direction: column;
    position: absolute;
    right: 0;
    z-index: 5;
    top: -10px;
    width: 200px;
    display: flex;

    color: aliceblue;
    font-family: "Montserrat", sans-serif;
    background-color: rgba(30, 30, 30, 0.8);
    font-size: 1em;
    text-align: start;
    justify-content: center;
    height: 260px;
    padding-right: 60px;
    padding-left: 20px;
    padding-top: 120px;
    padding-bottom: 50px;
  }
  .nav_link_mobile span {
    padding: 8px;
    width: 120px;
  }
  .nav_link_mobile span:hover {
    background-color: white;
    color: black;
  }
  .navbar_box {
    height: 15vh;
  }
  .icono {
    width: 30px;
    height: 30px;
  }
  .navbar_scroll {
    height: 8vh;
  }
  .barras {
    z-index: 10;
    color: white;
    border: 1px solid white;
    padding: 8px;
    position: absolute;
    right: 10px;
  }
  .barras:hover {
    background-color: white;
    color: black;
  }
  .nav_link_mobile {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}
