.container{
    display: flex;
    
 
}
.userContainer{
     margin:50px;
     
  
}
.table_cont{
    width: 60%;
    
    margin-top: 50px;
    
    
}
.title{
    display: flex;
    justify-content: center;
    font-size: 2.7em;
    
}
.btn_return{
   position: absolute;
   right: 4%;
   top: 30vh;
}