.divContainer {
  width: 80%;
  margin-top: 15%;
  margin-left: 10%;
  display: grid;
  grid-column: 15% 25% 60%;
  grid-column-gap: 5px;
  margin: 20px auto;
}
.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
}
.tableHead {
  border-collapse: collapse;
  border: 2px solid black;
  background-color: #032d49;
  color: #ffffff;
}
.idBox {
  width: 10%;
  text-align: left;
}
.nameBox {
  width: 15%;
  text-align: left;
}
.descriptionBox {
  width: 75%;
  text-align: left;
}

.tableRow {
  border-collapse: collapse;
  border: 1px solid black;
}
.tableRow:nth-child(odd) {
  background-color: #498a94;
}
.tableRow:nth-child(even) {
  background-color: #91c4cd;
}
