.global_box{
    display: flex;
    background-color: cyan;
    width: 50%;
    margin:  auto;
    height: 50vh;
    position: relative;
    margin-top: 10%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    
}
.form_box{
    display: flex;
    flex-direction: column;
    
    

}

.text_area{
    resize: none;
}
.error{
    color: brown;
    font-weight: 600;
}